<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="17.5.0" targetFramework="net45" />
  <package id="Bridge.Core" version="17.5.0" targetFramework="net45" />
  <package id="Bridge.Html5" version="17.5.0" targetFramework="net45" />
  <package id="Bridge.jQuery" version="2.19.0" targetFramework="net45" />
  <package id="Bridge.Min" version="17.5.0" targetFramework="net45" />
  <package id="Bridge.Newtonsoft.Json" version="1.12.0" targetFramework="net45" />
  <package id="Retyped" version="1.6.6733" targetFramework="net45" />
  <package id="Retyped.Core" version="1.6.6733" targetFramework="net45" />
  <package id="Retyped.dom" version="2.8.6733" targetFramework="net45" />
  <package id="Retyped.es5" version="2.8.6733" targetFramework="net45" />
  <package id="Retyped.scripthost" version="2.8.6733" targetFramework="net45" />
</packages>