<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BflytPreview.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <userSettings>
        <BflytPreview.Settings>
            <setting name="PaneColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SelectedColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="OutlineColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="BgFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowImage" serializeAs="String">
                <value>False</value>
            </setting>
        </BflytPreview.Settings>
    </userSettings>
</configuration>